/Alice/Test_Debug/Alice.tlog/*.tlog
/Alice/Test_Debug/*.log
/Alice/Test_Debug/*.obj
/Alice/Test_Debug/*.sbr
/Alice/Test_Debug/*.idb
/Alice/Test_Debug/*.pdb
/Alice/out/out.7z
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
Test_Debug
Test_release
Tmp
Debug
Debug_Util
Release
doc
Coursework
/GP1/doc
/GP1/Coursework
x64
*.sdf
*.opensdf
*.suo
/Alice/out/Alice_d.exe
/*.suo
*.lst
